body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter';
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

.logo-wrap {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
    width: 100.03px;
}

.logo {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
    width: 100.03px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #F6F7F8;
}

.d-none {
    display: none;
}

/** Login **/
.login-signup-wrap {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
    gap: 35px;
    width: 100vw;
    padding-top: 67px;
    padding-right: 114px;
}

.login-signup-text {
    width: 161px;
    height: 25px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
}

.login-signup-button {
    cursor: pointer;
    padding: 4px 16px;
    gap: 10px;
    width: 100px;
    height: 51px;
    background: #2a3647;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.login-signup-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 652px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.login-title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 315px;
    height: 97px;
}

.login-title {
    width: 315px;
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    text-align: center;
    color: #000000;
}

.login-blueline {
    width: 150px;
    height: 00px;
    border: 3px solid #29ABE2;
    border-radius: 10px;
}

.login-input-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    width: 422px;
    height: 171px;
}

.login-email-border {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.login-email-border.error {
    border-color: #ff3860;
}

.login-email-border .error {
    color: #ff3860;
    font-size: 12px;
    margin-top: 2px;
    height: 13px;
}

.login-email-input {
    width: 90%;
    border: unset;
    height: 25px;
    font-size: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
    background-image: url("../assets/img/mail.svg");
    background-repeat: no-repeat;
    background-position: calc(100%);
}

.login-email-input:focus {
    outline: none;
}

.login-pw-border {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.login-pw-border.error {
    border-color: #ff3860;
}

.login-pw-border .error {
    color: #ff3860;
    font-size: 12px;
    margin-top: 2px;
    height: 13px;
}

.login-pw-input {
    border: unset;
    width: 90%;
    height: 25px;
    
    font-size: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
    background-image: url("../assets/img/password.svg");
    background-repeat: no-repeat;
    background-position: calc(100%);
}

.login-pw-input:focus {
    outline: none;
}

.login-options-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    width: 335px;
    height: 19px;
}

.login-options-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 146px;
    height: 19px;
}

.login-checkbox {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.login-checkbox-text {
    width: 110px;
    height: 19px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    flex: none;
}

.login-forgotpw-link {
    cursor: pointer;
    width: 154px;
    height: 19px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #29ABE2;
}

.login-buttons-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    width: 341px;
    height: 51px;
}

.login-login-button {
    cursor: pointer;
    padding: 4px 0px;
    gap: 10px;
    width: 145px;
    height: 51px;
    background: #2a3647;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
}

.login-login-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-guestlogin-button {
    cursor: pointer;
    padding: 4px 0px;
    gap: 10px;
    width: 161px;
    height: 51px;
    border-radius: 8px;
    border: 1px solid #2a3647;
    background: #FFFFFF;
    color: #2a3647;
    
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.login-guestlogin-button:hover {
    color: #29ABE2;
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/** Forgot Password **/
.forgotpw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
    width: 826px;
    height: 462px;
    gap: 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.forgotpw-title {
    width: 626px;
    height: 73px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    text-align: center;
    color: #000000;
}

.forgotpw-bluearrow {
    cursor: pointer;
    position: relative;
    left: 37px;
    top: 41px;
    align-self: flex-start;
    width: 37px;
    height: 37px;
}

.forgotpw-blueline {
    width: 150px;
    border: 3px solid #29ABE2;
    border-radius: 20px;
}

.forgotpw-text {
    width: 535px;
    height: 50px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #000000;
}

.forgotpw-input-wrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 422px;
    height: 53px;
    padding: 13px 21px;
    gap: 10px;
    margin-bottom: 20px;
}

.forgotpw-input {
    border: none;
    outline: none;
    width: 344px;
    height: 40px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    background-image: url("../assets/img/mail.svg");
    background-repeat: no-repeat;
    background-position: calc(100%);
}

.forgotpw-input-wrap.error {
    border-color: #ff3860;
}

.forgotpw-input-wrap .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    margin-top: 2px;
}

.forgotpw-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    border: none;
}

.forgotpw-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.forgotpw-confirmation-outer {
    transition: all 225ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    translate: 0px 900px;
}

.forgotpw-confirmation-border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 74px;
    width: 424px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.forgotpw-confirmation-text {
    width: 330px;
    height: 28px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}

/** Reset Password **/
.resetpw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 44px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.resetpw-arrow-wrap {
    position: relative;
    align-self: flex-start;
    width: 37px;
    height: 37px;
    left: -44px;
    top: 35px;
}

.resetpw-arrow-img {
    cursor: pointer;
}

.resetpw-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    gap: 24px;
    margin-bottom: 35px;
    width: 627px;
    height: 97px;
}

.resetpw-blueline {
    width: 150px;
    height: 0px;
    border: 3px solid #29ABE2;
    border-radius: 10px;
}

.resetpw-title {
    width: 627px;
    height: 73px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    text-align: center;
    color: #000000;
}

.resetpw-text {
    width: 589px;
    height: 25px;
    margin-bottom: 35px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #000000;
}

.resetpw-input-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    width: 422px;
    height: 171px;
    margin-bottom: 35px;
}

.resetpw-input-outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 422px;
    height: 71px;
}

.resetpw-input-border {
    display: flex;
    flex-direction: column;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.resetpw-input {
    border: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 380px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

.resetpw-input:focus {
    outline: none;
}

.resetpw-input-border.error {
    border-color: #ff3860;
}

.resetpw-input-border .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    margin-top: 2px;
}

.resetpw-btn-wrap {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    width: 264px;
    height: 51px;
}

.resetpw-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 264px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    border: unset;
    
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
}

.resetpw-btn:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.resetpw-msg-outer {
    transition: all 225ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    translate: 0px 900px;
}

.resetpw-msg-border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 13px;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.resetpw-msg-text {
    
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

/** Animation of email & resetpw message **/
.animate {
    transition: all 225ms ease-out;
    translate: 0px -300px;
}

/** Signup **/
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 652px;
    height: 559px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.signup-bluearrow {
    position: relative;
    left: 37px;
    top: 41px;
    align-self: flex-start;
    width: 37px;
    height: 37px;
}

.signup-bluearrow-img {
    cursor: pointer;
}

.signup-title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 315px;
    height: 97px;
}

.signup-title {
    width: 315px;
    height: 73px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.signup-blueline {
    width: 150px;
    height: 2px;
    border: 2px solid #29ABE2;
    border-radius: 20px;
}

.signup-inputs-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 422px;
}

.signup-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;
    height: 71px;
}

.signup-input-name {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-image: url("../assets/img/username.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 18px);
}

.signup-name .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.signup-input-name:focus {
    outline: none;
}

.signup-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;
    height: 71px;
}

.signup-input-email {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-image: url("../assets/img/mail.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 18px);
}

.signup-email .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.signup-input-email:focus {
    outline: none;
}

.signup-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;
    height: 71px;
}

.signup-input-password {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-image: url("../assets/img/password.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 18px);
}

.signup-password .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.signup-input-password:focus {
    outline: none;
}

.signup-button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 100%;
    height: 51px;
    flex: none;
}

.signup-button {
    width: 145px;
    height: 51px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
    background: #2A3647;
    border-radius: 8px;
    border: unset;
    cursor: pointer;
}

.signup-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
    .logo-wrap {
        top: 5%;
        width: 50px;
    }

    .logo {
        top: 5%;
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .login-signup-wrap {
        bottom: 0;
        top: unset;
        padding: 10px 10px;
        gap: unset;
    }

    .login-signup-text {
        font-size: 14px;
    }

    .login-signup-button {
        height: 35px;
        font-size: 14px;
    }

    .logo-wrap {
        display: none;
    }

    .logo {
        left: 10vw;
        top: 20px;
        bottom: unset;
        right: unset;
        width: 30px;
    }

    .login-center-container {
        box-sizing: border-box;
        width: 80vw;
        height: 70vh;
        padding: 15px 0px;
        gap: unset;
        justify-content: space-evenly;
    }

    .login-title-wrap {
        gap: 10px;
        height: unset;
        width: unset;
    }

    .login-title {
        width: unset;
        height: unset;
        font-size: 35px;
    }

    .login-input-wrap {
        align-items: center;
        justify-content: center;
        width: unset;
        height: unset;
    }

    .login-email-outer {
        width: 250px;
        height: 40px;
    }

    .login-email-border {
        width: 250px;
        height: 40px;
        padding: 10px 21px;
    }

    .login-email-inner {
        width: 200px;
        height: 35px;
    }

    .login-email-input {
        font-size: 16px;
        height: 30px;
        background: none;
    }

    .login-pw-outer {
        width: 250px;
        height: 40px;
    }

    .login-pw-border {
        width: 250px;
        height: 40px;
        padding: 10px 21px;
    }

    .login-pw-inner {
        width: 200px;
        height: 35px;
    }

    .login-pw-input {
        font-size: 16px;
        height: 30px;
        background: none;
    }

    .login-options-wrap {
        flex-direction: column-reverse;
        justify-content: flex-start;
        translate: -45px;
        gap: 10px;
        width: unset;
        height: unset;
    }

    .login-options-left {
        width: unset;
    }

    .login-checkbox {
        width: 14px;
        height: 14px;
    }

    .login-forgotpw-link {
        font-size: 12px;
    }

    .login-checkbox-text {
        font-size: 12px;
    }

    .login-buttons-wrap {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: unset;
        height: unset;
        font-size: 16px;
    }

    .login-login-button {
        height: 35px;
        font-size: 16px;
    }

    .login-guestlogin-button {
        width: 145px;
        height: 35px;
        font-size: 16px;
    }

    .forgotpw-container {
        box-sizing: border-box;
        width: 80vw;
        height: 70vh;
        padding: unset;
        gap: unset;
        justify-content: space-evenly;
    }

    .forgotpw-title {
        font-size: 35px;
        height: unset;
        width: unset;
        flex-wrap: wrap;
    }

    .forgotpw-bluearrow {
        top: 0;
        left: 20px;
        height: 25px;
        width: 25px;
    }

    .forgotpw-text {
        font-size: 16px;
        height: unset;
        width: unset;
        padding: 0px 15px;
    }

    .forgotpw-input-wrap {
        width: 250px;
        height: 40px;
        padding: 10px 21px;
        margin: unset;
    }

    .forgotpw-input {
        width: 200px;
        height: 40px;
        background: none;
        font-size: 16px;
    }

    .forgotpw-button {
        font-size: 16px;
        width: 200px;
        height: 40px;
    }

    .forgotpw-confirmation-outer {
        transition: all 225ms ease-in-out;
        height: 40px;
    }

    .forgotpw-confirmation-border {
        height: 40px;
        width: 280px;
        border-radius: 10px;
    }

    .forgotpw-confirmation-text {
        font-size: 14px;
        height: unset;
        width: unset;
    }

    .forgotpw-confirmation-icon {
        height: 20px;
    }

    .resetpw-container {
        box-sizing: border-box;
        width: 80vw;
        height: 70vh;
        padding: unset;
        justify-content: space-evenly;
    }

    .resetpw-arrow-wrap {
        left: 20px;
        top: 0;
        height: 25px;
        width: 25px;
    }

    .resetpw-title-container {
        width: unset;
        height: unset;
        margin: unset;
        padding: unset;
        gap: 20px;
    }

    .resetpw-title {
        font-size: 35px;
        height: unset;
        width: unset;
    }

    .resetpw-text {
        font-size: 16px;
        height: unset;
        width: unset;
        margin: unset;
    }

    .resetpw-input-wrap {
        gap: 10px;
        width: 250px;
        height: unset;
        margin: unset;
    }

    .resetpw-input-outer {
        width: 250px;
        height: 40px;
    }

    .resetpw-input-border {
        padding: 10px 21px;
        width: 250px;
        height: 40px;
    }

    .resetpw-input {
        width: 200px;
        height: 35px;
        font-size: 16px;
        background: none;
    }

    .resetpw-btn-wrap {
        height: 35px;
        width: 200px;
    }

    .resetpw-btn {
        height: 35px;
        width: 200px;
        font-size: 16px;
    }

    .resetpw-msg-outer {
        height: 40px;
    }

    .resetpw-msg-border {
        border-radius: 10px;
        height: 40px;
        width: 250px;
    }

    .resetpw-msg-text {
        font-size: 16px;
    }

    .signup-container {
        box-sizing: border-box;
        width: 80vw;
        height: 70vh;
        padding: 15px 0px;
        gap: unset;
        justify-content: space-evenly;
    }

    .signup-bluearrow {
        left: 20px;
        top: 0;
        height: 25px;
        width: 25px;
    }

    .signup-title-wrap {
        width: unset;
        height: unset;
        gap: 20px;
    }

    .signup-title {
        font-size: 35px;
        height: unset;
        width: unset;
    }

    .signup-blueline {
        height: 0;
    }

    .signup-inputs-wrap {
        align-items: center;
        height: unset;
        width: 300px;
        gap: 10px;
    }

    .signup-name {
        width: unset;
        height: 40px;
    }

    .signup-input-name {
        font-size: 16px;
        width: 250px;
        height: 40px;
    }

    .signup-email {
        width: unset;
        height: 40px;
    }

    .signup-input-email {
        font-size: 16px;
        width: 250px;
        height: 40px;
    }

    .signup-password {
        width: unset;
        height: 40px;
    }

    .signup-input-password {
        font-size: 16px;
        width: 250px;
        height: 40px;
    }

    .signup-button-wrap {
        height: 35px;
        width: unset;
    }
    
    .signup-button {
        font-size: 16px;
        width: unset;
        height: unset;
        padding: 10px 20px;
    }
}