:root {
    --primary-color: #2A3647;
    --secondary-color: #29ABE2;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #D1D1D1;
    --background: #F6F7F8;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Inter';
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

.logo-wrap {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
    width: 100.03px;
}

.logo {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
    width: 100.03px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--background);
    overflow-x: hidden;
    overflow-y: hidden;
}

/** Login **/

.card {
    width: fit-content;
    background: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.scale {
    transition: all 125ms ease-in-out;
}

.scale:hover {
    transition: all 125ms ease-in-out;
    transform: scale(1.1);
}

.blueline {
    width: 150px;
    height: 00px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
}

.error {
    position: relative;
    top: -.6rem;
    color: #ff3860;
    font-size: 12px;
    height: 0px;
}

.name-icon {
    background-image: url("../assets/img/username.svg");
    background-repeat: no-repeat;
    background-position: calc(90%);
}

.mail-icon {
    background-image: url("../assets/img/mail.svg");
    background-repeat: no-repeat;
    background-position: calc(90%);
}

.pw-icon {
    background-image: url("../assets/img/password.svg");
    background-repeat: no-repeat;
    background-position: calc(90%);
}

.bluearrow {
    position: relative;
    left: calc(-50% + 20px);
    height: 0;
}

@media screen and (max-width: 1024px) {
    .logo-wrap {
        top: 5%;
        width: 50px;
    }

    .logo {
        top: 5%;
        width: 50px;
    }
}

@media screen and (max-width: 700px) {
    .background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .logo-wrap {
        display: none;
    }

    .logo {
        left: 10vw;
        top: 20px;
        bottom: unset;
        right: unset;
        width: 30px;
    }

    .resetpw-container {
        box-sizing: border-box;
        width: 80vw;
        height: 70vh;
        padding: unset;
        justify-content: space-evenly;
    }

    .resetpw-arrow-wrap {
        left: 20px;
        top: 0;
        height: 25px;
        width: 25px;
    }

    .resetpw-title-container {
        width: unset;
        height: unset;
        margin: unset;
        padding: unset;
        gap: 20px;
    }

    .resetpw-title {
        font-size: 35px;
        height: unset;
        width: unset;
    }

    .resetpw-text {
        font-size: 16px;
        height: unset;
        width: unset;
        margin: unset;
    }

    .resetpw-input-wrap {
        gap: 24px;
        width: 250px;
        height: unset;
        margin: unset;
    }

    .resetpw-btn-wrap {
        height: 35px;
        width: 200px;
    }

    .resetpw-btn {
        height: 35px;
        width: 200px;
        font-size: 16px;
    }

    .resetpw-msg-outer {
        height: 40px;
    }

    .resetpw-msg-border {
        border-radius: 10px;
        height: 40px;
        width: 250px;
    }

    .resetpw-msg-text {
        font-size: 16px;
    }
}