body {
    margin: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

.signup-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
}

.logo-wrap {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
    width: 100.03px;
}

.logo {
    position: absolute;
    left: 5.35%;
    right: 87.71%;
    top: 7.81%;
    bottom: 80.28%;
    width: 100.03px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 652px;
    height: 559px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.signup-bluearrow {
    position: relative;
    left: 37px;
    top: 41px;
    align-self: flex-start;
    width: 37px;
    height: 37px;
}

.signup-bluearrow-img {
    cursor: pointer;
}

.signup-title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 315px;
    height: 97px;
}

.signup-title {
    width: 315px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.signup-blueline {
    width: 150px;
    height: 2px;
    border: 2px solid #29ABE2;
    border-radius: 20px;
}

.signup-inputs-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    width: 422px;
    height: 271px;
}

.signup-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
}

.signup-input-name {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: url(../../assets/img/username.svg)no-repeat scroll 7px 7px;
    background-position: calc(100% - 18px);
}

.signup-input-name:focus {
    outline: none;
}

.signup-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
}

.signup-input-email {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: url(../../assets/img/mail.svg)no-repeat scroll 7px 7px;
    background-position: calc(100% - 18px);
}

.signup-input-email:focus {
    outline: none;
}

.signup-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 71px;
}

.signup-input-password {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: url(../../assets/img/password.svg)no-repeat scroll 7px 7px;
    background-position: calc(100% - 18px);
    margin-bottom: 35px;
}

.signup-input-password:focus {
    outline: none;
}

.signup-button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
    gap: 10px;
    width: 100%;
    height: 51px;
    flex: none;
}

.signup-button {
    width: 145px;
    height: 51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    background: #2A3647;
    border-radius: 8px;
    border: unset;
    cursor: pointer;
}

.signup-button:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}